body {
  font-family: Arial, Helvetica, sans-serif;
}

.para,
.small-para {
  color: hsl(0, 0%, 0%);
  font-weight: 800;
}

/*vu que la classe .para applique une taille de police grande il faut la déplacer en dessus du 
selecteur de .small-para pour qu'elle puisse être appliquée. Règle d'appartion (le style du dernier est appliqué si les deux règles ont la même spécificité)
*/

.para {
  font-size: 22px;
}

.small-para {
  font-size: 14px;
  font-weight: 800;
}

/* Ici .confirm est déplacé en dessous de .button pour que ses styles soit appliqués (le style du dernier est appliqué si les deux règles ont la même spécificité)
*/
.button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.confirm {
  background: green;
  color: white;
  font-weight: bold;
}

/*.child et div.text ont la même spécificité mais comme div.text est écrit après, il écrase les styles de .child.
Rendre .child plus spécifique ou soit déplacé .child en dessous*/
.text.child {
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 22px;
}

div.text {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 100;
}

